@model MVCPJ_BaiTapTrenLop.Models.Subject

@{
    ViewBag.Title = "Xóa môn học";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Xóa môn học</h2>

<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>Tên môn học:</dt>
            <dd>@Html.DisplayFor(model => model.SubjectName)</dd>
            <dt>Mô tả:</dt>
            <dd>@Html.Raw(Model.Description)</dd>
            <dt>Giá:</dt>
            <dd>@Html.DisplayFor(model => model.Price)</dd>
        </dl>
    </div>
</div>

<p>Bạn có chắc chắn muốn xóa môn học này?</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <input type="hidden" name="SubjectID" value="@Model.SubjectID"/>
        <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
        @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-default" })
    </div>
}
