@model IEnumerable<MVCPJ_BaiTapTrenLop.Models.Advertisement>

@{
    ViewBag.Title = "Quản lý quảng cáo";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Danh sách quảng cáo</h2>

<table class="table">
    <tr>
        <th>Hình ảnh</th>
        <th>Tiêu đề</th>
        <th>Mô tả</th>
        @*<th>Địa chỉ URL</th>*@
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td><img src="@item.ImageURL" style="width: 80px"/></td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            @*<td>@item.URL</td>*@
            <td>
                @Html.ActionLink("Chi tiết", "Details", new { id = item.AdvertisementID }) |
                @Html.ActionLink("Sửa", "Edit", new { id = item.AdvertisementID }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.AdvertisementID })
            </td>
        </tr>
    }
</table>
