@model MVCPJ_BaiTapTrenLop.Models.Score

@{
    ViewBag.Title = "Xóa điểm";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2>Xóa điểm</h2>

<div class="row">
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt>Môn học:</dt>
            <dd>@Html.DisplayFor(model => model.SubjectName)</dd>
            <dt>Lớp học:</dt>
            <dd>@Html.DisplayFor(model => model.ClassName)</dd>
            <dt>Ảnh điểm:</dt>
            <dd>@Html.DisplayFor(model => model.ScoreImage)</dd>
        </dl>
    </div>
</div>

<p>Bạn có chắc chắn muốn xóa điểm này?</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
        @Html.ActionLink("Hủy", "Index", null, new { @class = "btn btn-default" })
    </div>
}
