@model MVCPJ_BaiTapTrenLop.Models.Score
@{
    ViewBag.Title = "Tra cứu điểm";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2 class="text-center mt-3">Tra cứu điểm</h2>

<form action="/Score/Index" method="post">
    <div class="row p-2">

        <div class="col-sm-12 col-lg-6">
            @Html.LabelFor(model => model.ClassID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.ClassID, ViewBag.Classes as SelectList, "-- Chọn lớp học --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ClassID, "", new { @class = "text-danger" })
        </div>

        <div class="col-sm-12 col-lg-6">
            @Html.LabelFor(model => model.SubjectID, htmlAttributes: new { @class = "control-label" })
            @Html.DropDownListFor(model => model.SubjectID, ViewBag.Subjects as SelectList, "-- Chọn môn học --", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.SubjectID, "", new { @class = "text-danger" })
        </div>
    </div>
    <button class="mt-2 btn btn-success float-end">Tra Cứu</button>
    <div class="row" style="min-height: 700px">
        @if (Model != null)
        {
            <input type="hidden" name="ScoreID" value="@Model.ScoreID" />
            <input type="hidden" name="SubjectName" value="@Model.SubjectName" />
            <input type="hidden" name="ClassName" value="@Model.ClassName" />
            <input type="hidden" name="ScoreImage" value="@Model.ScoreImage" />
            if (ViewBag.ScoreImage == "1")
            {
                <img class="col-12 m-auto" style="width: 80%" src="@Model.ScoreImage" alt=" " />
            }
        }
        else
        {
            if (ViewBag.ScoreImage == "0")
            {
                <h5 class="text-danger">Hiện chưa có điểm.</h5>
            }
            else
            {
                <h5 class="text-danger">Vui lòng chọn lớp và môn học.</h5>
            }
        }
    </div>
</form>
