<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body style="padding: 0">

    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">
            <li class="nav-item">
                @*<a class="nav-link">@Html.ActionLink("Trang chủ", "Index", "Default")</a>*@
                <a class="nav-link" href="/Default/Index">Trang chủ</a>
            </li>
            <li class="nav-item">
                @*<a class="nav-link">@Html.ActionLink("Sản phẩm", "Products", "Default")</a>*@
                <a class="nav-link" href="/Default/Products">Sản phẩm</a>
            </li>
            <li class="nav-item">
                @*<a class="nav-link">@Html.ActionLink("Liên hệ", "Contact", "Default")</a>*@
                <a class="nav-link" href="/Default/Contact">Liên hệ</a>
            </li>
        </ul>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>