@model IEnumerable<MVCPJ_BaiTapTrenLop.Models.Teacher>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>Danh sách giáo viên</h2>

<div class="row p-3 justify-content-center">
    @foreach (MVCPJ_BaiTapTrenLop.Models.Teacher item in Model)
    {
        <div class="new_card card border-0 p-1 col-lg-5 m-3" style="height: 600px">
            <img src="@("../" + item.ImagePath)" class="card-img-top" alt="..." style="width: 100%; height: 80%; object-fit: cover">
            <h5 class="card-title m-2">@item.FullName</h5>
            <p class="card-subtitle"><i class="fa fa-solid fa-bars"></i> @item.Department</p>
            <p class="card-subtitle"><i class="fa fa-solid fa-phone"></i> @item.Email</p>
            <p class="card-subtitle"><i class="fa fa-solid fa-envelope"></i> @item.PhoneNumber</p>
        </div>
    }
</div>