@model IEnumerable<MVCPJ_BaiTapTrenLop.Models.NewsCategory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2 class="mt-4">Danh sách nhóm tin</h2>

<p>
    @Html.ActionLink("Thêm nhóm tin mới", "Create")
</p>
<table class="table">
    <tr>
        <th colspan="15">
            Tên nhóm tin
        </th>
        <th>Cập nhật</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td colspan="15">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Chi tiết", "Details", new { id=item.ID }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
