@model EF_CodeFirst.ViewModels.RegisterVM

@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}

<h2>My Profile</h2>

<table class="table">
    <tr>
        <th>Username: </th>
        <td>@Model.Username</td>
    </tr>
    <tr>
        <th>Email: </th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>Phone number: </th>
        <td>@Model.PhoneNumber</td>
    </tr>
    <tr>
        <th>Date of birth: </th>
        <td>@Model.DateOfBirth</td>
    </tr>
    <tr>
        <th>Address: </th>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <th>City: </th>
        <td>@Model.City</td>
    </tr>
</table>