@model MVCPJ_BaiTapTrenLop.Models.Teacher

@{
    ViewBag.Title = "Chi tiết giáo viên";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayoutPage.cshtml";
}

<h2 class="text-center mb-4">Chi tiết giáo viên</h2>

<div class="row">
    <div class="col-md-6 offset-md-3">

        <div class="col-md-6 offset-md-3 text-center">
            <img src="@Url.Content(Model.ImagePath)" alt="Avatar" class="img-thumbnail" style="max-width: 200px;" />
        </div>
        <dl class="dl-horizontal">
            <dt>Tên đầy đủ:</dt>
            <dd>@Html.DisplayFor(model => model.FullName)</dd>
            <dt>Email:</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>
            <dt>Số điện thoại:</dt>
            <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
            <dt>Địa chỉ:</dt>
            <dd>@Html.DisplayFor(model => model.Address)</dd>
            <dt>Ngày sinh:</dt>
            <dd>@Html.DisplayFor(model => model.DateOfBirth)</dd>
            <dt>Giới tính:</dt>
            <dd>@Html.DisplayFor(model => model.Gender)</dd>
            <dt>Phòng ban:</dt>
            <dd>@Html.DisplayFor(model => model.Department)</dd>
        </dl>
    </div>
</div>

<div class="text-center mt-4">
    @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-primary" })
</div>
